body{
	background: #F0F7D4;
	font-family: 'Muli', sans-serif;
}

h1 {
	margin: 1em;
}

h5{
	margin-bottom: 1em;
}

#form{
	padding: 1em 1em 1em 5em
}

#questions {
	margin: 2em 4em 3em 0em;
	/*background: #d3d3c8;*/
	background: #C3D581;
    padding: 1em 1em 1em 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;

}

.names {
	padding-right: 80%;
}



.form-check{
	margin-bottom: 1em;
}

#logo{
	float:right;
	margin: -5em 5em 0em 0em;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
}

#frame{
	width: 80%
}

#resultlist {
	padding: 10em 1em 1em 5em
}

#results {
	margin: 2em 4em 3em 0em;
	/*background: #d3d3c8;*/
	background: #C3D581;
    padding: 1em 1em 2em 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;

}